<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="node_modules/chart.js/src/chart.js"></script>
<div> 
    <div style="padding-left: 30rem ">
        <app-city-select (submitCities)="getCities($event)" ></app-city-select>
    </div>
    <div style="width: auto;padding-left: 40rem; padding-top: 15rem; padding-right: 50rem;">
        <app-city-table *ngIf="showTable"  [onChange]="brodCastChnage"  [citiesWeather]="citiesWeather"></app-city-table>
    </div>
    <div style="width: auto;padding-left: 40rem; padding-top: 10rem; padding-right: 50rem;padding-bottom: 10rem;">
        <app-barchart *ngIf="showTable"  [citiesWeather]="citiesWeather"></app-barchart>
    </div>
</div>